@tailwind base;
@tailwind components;
@tailwind utilities;

@layer theme {
    .background {
        @apply bg-background-light dark:bg-background-dark;
    }

    .foreground {
        @apply text-foreground-light dark:text-foreground-dark;
    }
}

:root {
    --background-light: #ffffff;
    --foreground-light: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-dark: #000000;
        --foreground-dark: #ffffff;
    }
}
