/* Container styling */
.extension-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 32rem; /* 2xl max width */
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 0.75rem; /* gap-y-3 */
}

@media (min-width: 640px) {
    .extension-container {
        grid-template-columns: repeat(9, minmax(0, 1fr));
        gap: 1.5rem; /* gap-y-6 */
    }
}

/* Individual extension item styling */
.extension-item {
    position: relative;
    display: inline-flex;
    justify-content: center;
}

.extension-item img {
    width: 2.25rem; /* size-9 */
    height: 2.25rem; /* size-9 */
    cursor: pointer;
}

/* Tooltip styling */
.extension-tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 0.5rem;
    display: none;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 0.75rem;
    background-color: #e5e7eb; /* neutral-200 */
    border-radius: 0.25rem; /* rounded */
    color: #000;
    text-align: center;
}

.extension-tooltip h3 {
    font-size: 1.125rem; /* text-lg */
}

.extension-item:hover .extension-tooltip {
    background-color: var(--background);
    color: var(--foreground);
    display: block;
    border: 1px solid var(--foreground);
}
