/* Container styling for the navigation bar */
.navigation-bar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    height: 6rem; /* 24 * 0.25rem */
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem; /* 6 * 0.25rem */
    padding-left: 1.5rem; /* 6 * 0.25rem */
    padding-right: 1.5rem; /* 6 * 0.25rem */
}

/* Styling for the GitHub link icon */
.github-icon {
    width: 2.25rem;
    height: 2.25rem;
}

@media (min-width: 640px) {
    .navigation-bar {
        justify-content: end;
    }
}
